.userProfile {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 30px auto;
}
.field {
	font-size: 18px;
	font-weight: 200;
	text-align: left;
	margin: 10px;
}

.blockWithSelect {
	display: flex;
}
.info {
	width: 200px;
	padding: 10px 15px;
}
.select {
	width: 150px;
}
