.addArticle {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin: 30px auto;
}
.addArticle p {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
}
.textarea {
	margin-top: 15px;
	width: 500px;
}
.buttonBlock {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.error {
	color: #e53e3e;
	margin-top: 5px;
}
