.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50px;
	background-color: #0b2a37;
}
.header button {
	border-radius: 15%;
	height: 40px;
	margin: 5px 10px;
	font-family: 'Maven Pro';
	font-size: 15px;
	font-weight: 700;
	color: #0b2a37;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 6px;
}
